.post {
    background-color: white;
    max-width: 600px;
    border: 1px solid #dbdbdb;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.post__image {
    width: 100%;
    object-fit: contain;
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.post__headerAvatar {
    display: flex;
    align-items: center;
}

.post__avatar {
    margin-right: 10px;
}

.post__icons {
    display: flex;
    padding:10px 0 0 20px;
}

.post__icons > img {
    margin-right: 15px;
    cursor: pointer;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #dbdbdb;
    align-items: center;
    padding: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 12px;
}

.post__input:focus {
    outline: none;
}

.post__button {
    flex: 0;
    font-weight: bold;
    color: #0095f6;
    opacity: 1;
    background-color: transparent;
    border: none;
}

.post__button:disabled {
    opacity: 0.4;
} 

.post__comments {
    padding: 0 20px 20px 20px;
}