* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  color: #262626;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10%;
  padding-left: 30%;
  border-bottom: 1px solid #dbdbdb;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__headerBar {
  display: flex;
}

.app__headerIcons {
  display: flex;
  margin-top: 5px;
  margin-right: 10px;
}

.app__headerIcons > img {
  margin-right: 20px;
  margin-top: 3px;
  cursor: pointer;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
}